<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683196372486-p2e2v4v1pn5ifmd52vbpplf2muqar87t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683196372486-p2e2v4v1pn5ifmd52vbpplf2muqar87t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>683196372486-1id05d3drs86huk81nnnek4iupjjm7ga.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBapezBkv9fUN-4NFw44A-dflIA2Mpw3JM</string>
	<key>GCM_SENDER_ID</key>
	<string>683196372486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foreastro.foreastrouserside</string>
	<key>PROJECT_ID</key>
	<string>astro-99c72</string>
	<key>STORAGE_BUCKET</key>
	<string>astro-99c72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683196372486:ios:0f4de2a6d7bdba68b15587</string>
</dict>
</plist>